


<button ng-click="sort ='created_at'">Posting Date</button>
<button ng-click="sort ='price'">Price</button>

<input type="search" name="search" ng-model="search" id="search">
<div ng-repeat= "classified in $ctrl.classifieds | filter: search | orderBy: sort " class="container">
  <div>
    <img ng-src="{{classified.item_image}}" alt="image item">
  </div>
  <div>
    <h3>{{classified.title}}</h3>
    <p>{{classified.description}}</p>
    <p>{{classified.price}}</p>
  </div>
</div>
<div>
  <h3>new post!</h3>
  <form name="newPost" ng-submit ="$ctrl.newPost($ctrl.newclassifieds)">
    <label for="title">title</label>
    <input ng-model="$ctrl.newclassifieds.title" type="text" name="title" value="title">
    <label for="description">description</label>
    <input ng-model="$ctrl.newclassifieds.description" type="text" name="description" value="description">
    <label for="price">price</label>
    <input ng-model="$ctrl.newclassifieds.price" type="text" name="price" value="price">
    <label for="imgUrl">image</label>
    <input ng-model="$ctrl.newclassifieds.item_image" type="text" name="imgUrl" value="image url">
  <button type="submit">Add new post</button>
  </form>
</div>

<div>
  <h3>Update post</h3>
  <form name="updatePost" ng-submit ="$ctrl.updatePost($ctrl.updateclassifieds)">
    <label for="id">id</label>
    <input ng-model="$ctrl.updateclassifieds.id" type="text" name="id" value="id" required>
    <label for="title">title</label>
    <input ng-model="$ctrl.updateclassifieds.title" type="text" name="title" value="title">
    <label for="description">description</label>
    <input ng-model="$ctrl.updateclassifieds.description" type="text" name="description" value="description">
    <label for="price">price</label>
    <input ng-model="$ctrl.updateclassifieds.price" type="text" name="price" value="price">
    <label for="imgUrl">image</label>
    <input ng-model="$ctrl.updateclassifieds.item_image" type="text" name="imgUrl" value="image url">
  <button type="submit">Add new post</button>
  </form>
</div>

<div>
  <h3>delete post</h3>
  <form name="deletePost" ng-submit="$ctrl.deletePost($ctrl.deleteclassifieds)">
<label for="id">id</label>
<input ng-model="$ctrl.deleteclassifieds.id" type="text" name="id" value="id">
<button type="submit" name="button">Delete post</button>
</form>
</div>
